@font-face {
    src: url(../../fonts/VarentGrotesk-Bold.otf);
    font-family: "VarentGrotesk";
    font-style: normal;
    font-weight: 700;
}

@font-face {
    src: url(../../fonts/VarentGrotesk-ExtLtIta.otf);
    font-family: "VarentGrotesk";
    font-style: normal;
    font-weight: 200;
}

@font-face {
    src: url(../../fonts/SF-UI-Display-Light.otf);
    font-family: "SF-UI-Display";
    font-style: normal;
    font-weight: 300;
}

@font-face {
    src: url(../../fonts/SF-UI-Display-Regular.otf);
    font-family: "SF-UI-Display";
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url(../../fonts/SF-UI-Display-Medium.otf);
    font-family: "SF-UI-Display";
    font-style: normal;
    font-weight: 500;
}

@font-face {
    src: url(../../fonts/SF-UI-Display-Semibold.otf);
    font-family: "SF-UI-Display";
    font-style: normal;
    font-weight: 600;
}

@font-face {
    src: url(../../fonts/SF-UI-Display-Bold.otf);
    font-family: "SF-UI-Display";
    font-style: normal;
    font-weight: 700;
}

@font-face {
    src: url(../../fonts/SF-UI-Display-Black.otf);
    font-family: "SF-UI-Display";
    font-style: normal;
    font-weight: 900;
}