// Nice Select
select {
  display: none;
}

.form-select {
  background-image: none;
}

.nice-select {
  background-color: $shadow  !important;
  border-radius: 5px;
  border: 1px solid transparent;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 20px;
  color: $dark;
  font-weight: normal;
  outline: none;
  padding: 30px 22px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  height: 56px;
  line-height: 0;

  .current {
    font-size: 20px;
    font-weight: $fw_regular;
    color: $dark;
  }

  .option {
    &.selected {
      background-color: $shadow  !important;
      font-size: 20px;
      font-weight: $fw_regular;
      color: $dark;
    }
    &:hover{
      background-color: $shadow  !important;
    }
  }

  &::after {
    border: none;
    content: "\f107";
    display: block;
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 600;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 55% !important;
    transform-origin: 66% 66%;
    transform: rotate(0deg);
    transition: all 0.15s ease-in-out;
    width: 5px;
    color: #000;
  }

  &.form-select {
    border: 1px solid transparent !important;

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 #00000000 !important;
    }
  }
}

.nice-select.open:after {
  top: 40% !important;
  right: 15px;
  transform: rotate(-180deg);
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
  width: 100%;
  border-radius: 7px;
  border: 1px solid #fff;
}