.pt-72{
    padding-top: 72px;
}
.pt-160{
    padding-top: 160px;
}
.pt-120{
    padding-top: 120px;
}
.pt-153{
    padding-top: 153px;
}
.pt-47{
    padding-top: 47px;
}
.pb-160{
    padding-bottom: 160px;
}
.pb-48{
    padding-bottom: 48px;
}
.pb-67{
    padding-bottom: 67px;
}
.mr-100{
    margin-right: 100px;
}

// Negative margin
.mt-n-20{
    margin-top: -20px;
}