.team-img {
  border-radius: 260px;
  overflow: hidden;
  max-width: 520px;
}
.team-details-content {
  .heading {
    padding-bottom: 24px;
    .title {
      font-family: $body_font_2;
      font-size: 40px;
      font-weight: $fw_bold;
      color: $dark;
      line-height: 1.3;
      padding-bottom: 2px;
    }
    .sub-title {
      font-size: 20px;
      font-weight: $fw_medium;
      color: $secondary_solid;
      line-height: 1.6;
    }
  }
  .social {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba($dark, 0.15);
    ul {
      gap: 12px;
      li {
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          background-color: $primary_solid;
          backdrop-filter: blur(15px);
          &:hover {
            background-color: $secondary_solid;
          }
        }
      }
    }
  }
  .info {
    padding-bottom: 40px;
    .title {
      font-family: $body_font_2;
      font-size: 30px;
      font-weight: $fw_bold;
      line-height: 1.4;
      color: $dark;
      padding-bottom: 16px;
    }
    .description {
      color: $dark;
      text-align: justify;
    }
  }
}
